.App {
  text-align: center;
}

.logo-wrapper {
  position: relative;
}

.App-logo {
    position: absolute;
    height: 50vmin;
    z-index: 1;
    /* pointer-events: none; */
    animation: App-logo-spin infinite 20s linear;
}

.App-logo-2 {
  position: absolute;
  z-index: 2;
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .square_wrapper {

} */


.red {
  position: absolute;
  /* background-color: red; */
  /* background: url('./circle.jpg'); */
  background-image: url("./circle.svg");
  z-index: 2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: App-logo-spin infinite 5s linear;
}

.blue {
  position: absolute;
  background-color: blue;
  border-radius: 50%;
  z-index: 1;
  width: 200px;
  height: 200px;
}


* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px 15px 50px;
  background-image: linear-gradient(to right, #a0b5eb, #c9f0e4);
  color: #fff;
}

.navigationLinks a {
  color: #4799e9;
  font-weight: bold;
}
.logo {
  font-size: 32px;
  font-family: 'Sacramento', cursive;
}
.nav-menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.nav-menu li a:hover {
  color: #fff;
}
.nav-menu li {
  padding: 5px 14px;
}

input[type='checkbox'] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.btn {
  font-family: 'lora', serif;
  background: linear-gradient(to right, #a0b5eb, #c9f0e4);
  color: #4799e9 !important;
  font-weight: bold;
  width: 50%;
  padding: 1.8vh;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-align: center;
}

.col {
  display: flex;
  margin-top: 80px;
  margin-left: 50px;
  box-shadow: 2px 2px 4px 2px grey;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 90%;
}

.forms {
  margin-top: 40px;
  padding-left: 40px;
  background: white;
  border-radius: 30px;
  padding: 70px 50px 70px 50px;
  box-shadow: 12px 12px 22px grey;
  display: block;
}

.registerBtn {
  font-family: 'lora', serif;
  background: linear-gradient(to right, #a0b5eb, #c9f0e4);
  color: #4799e9 !important;
  font-weight: bold;
  width: 50%;
  padding: 1.8vh;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px;
  }
  .nav-menu {
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, #a0b5eb, #c9f0e4);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .logo {
    font-size: 15px;
  }
  .nav-menu li + li {
    margin-top: 20px;
  }
  input[type='checkbox']:checked ~ .nav-menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
