.App {
  text-align: center;
}

.logo-wrapper {
  position: relative;
}

.App-logo {
    position: absolute;
    height: 50vmin;
    z-index: 1;
    /* pointer-events: none; */
    animation: App-logo-spin infinite 20s linear;
}

.App-logo-2 {
  position: absolute;
  z-index: 2;
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .square_wrapper {

} */
.solar-system {
  background-color: rgb(237, 237, 148);
  width: 70vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  position: absolute;
  background-color: blue;
  border-radius: 50%;
  z-index: 1;
  width: 69vh;
  height: 69vh;
}

.blue-planet {
  position: absolute;
  background-image: url("./circle.svg");
  z-index: 2;
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  animation: App-logo-spin infinite 40s linear;
}


.red {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  z-index: 3;
  width: 60vh;
  height: 60vh;
}

.red-planet {
  position: absolute;
  background-image: url("./circle.svg");
  z-index: 4;
  width: 61vh;
  height: 61vh;
  border-radius: 50%;
  animation: App-logo-spin infinite 25s linear;
}

.purple {
  position: absolute;
  background-color: purple;
  border-radius: 50%;
  z-index: 5;
  width: 53.5vh;
  height: 53.5vh;
}

.purple-planet {
  position: absolute;
  background-image: url("./circle.svg");
  z-index: 6;
  width: 54vh;
  height: 54vh;
  border-radius: 50%;
  animation: App-logo-spin infinite 30s linear;
}

.green {
  position: absolute;
  background-color: green;
  border-radius: 50%;
  z-index: 7;
  width: 45.5vh;
  height: 45.5vh;
}

.green-planet {
  position: absolute;
  background-image: url("./circle.svg");
  z-index: 8;
  width: 46vh;
  height: 46vh;
  border-radius: 50%;
  animation: App-logo-spin infinite 15s linear;
}

.orange {
  position: absolute;
  background-color: orange;
  border-radius: 50%;
  z-index: 9;
  width: 37.5vh;
  height: 37.5vh;
}

.orange-planet {
  position: absolute;
  background-image: url("./circle.svg");
  z-index: 10;
  width: 38vh;
  height: 38vh;
  border-radius: 50%;
  animation: App-logo-spin infinite 40s linear;
}

.yellow {
  position: absolute;
  background-color: rgb(203, 166, 0);
  border-radius: 50%;
  z-index: 11;
  width: 29.5vh;
  height: 29.5vh;
}

.yellow-planet {
  position: absolute;
  background-image: url("./circle.svg");
  z-index: 12;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  animation: App-logo-spin infinite 40s linear;
}

.pink {
  position: absolute;
  background-color: pink;
  border-radius: 50%;
  z-index: 13;
  width: 19.8vh;
  height: 19.8vh;
}

.pink-planet {
  position: absolute;
  background-image: url("./circle_2.svg");
  z-index: 14;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  animation: App-logo-spin infinite 50s linear;
}

.black {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  z-index: 15;
  width: 11.6vh;
  height: 11.6vh;
}

.black-planet {
  position: absolute;
  background-image: url("./circle_3.svg");
  z-index: 16;
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  animation: App-logo-spin infinite 50s linear;
}

.grey {
  position: absolute;
  background-color: grey;
  border-radius: 50%;
  z-index: 17;
  width: 3.6vh;
  height: 3.6vh;
}

.grey-planet {
  position: absolute;
  background-image: url("./circle_3.svg");
  z-index: 18;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  animation: App-logo-spin infinite 50s linear;
}

.sun {
  position: absolute;
  background-color: rgb(255, 196, 0);
  z-index: 19;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px 15px 50px;
  background-image: linear-gradient(to right, #a0b5eb, #c9f0e4);
  color: #fff;
}

.navigationLinks a {
  color: #4799e9;
  font-weight: bold;
}
.logo {
  font-size: 32px;
  font-family: 'Sacramento', cursive;
}
.nav-menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.nav-menu li a:hover {
  color: #fff;
}
.nav-menu li {
  padding: 5px 14px;
}

input[type='checkbox'] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.btn {
  font-family: 'lora', serif;
  background: linear-gradient(to right, #a0b5eb, #c9f0e4);
  color: #4799e9 !important;
  font-weight: bold;
  width: 50%;
  padding: 1.8vh;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-align: center;
}

.col {
  display: flex;
  margin-top: 80px;
  margin-left: 50px;
  box-shadow: 2px 2px 4px 2px grey;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 90%;
}

.forms {
  margin: 40px;
  padding: 40px;
  background: white;
  border-radius: 30px;
  padding: 70px 70px 70px 70px;
  box-shadow: 12px 12px 22px grey;
  display: block;
}

.registerBtn {
  font-family: 'lora', serif;
  background: linear-gradient(to right, #a0b5eb, #c9f0e4);
  color: #4799e9 !important;
  font-weight: bold;
  width: 50%;
  padding: 1.8vh;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px;
  }
  .nav-menu {
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, #a0b5eb, #c9f0e4);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .logo {
    font-size: 15px;
  }
  .nav-menu li + li {
    margin-top: 20px;
  }
  input[type='checkbox']:checked ~ .nav-menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
