@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Nunito:wght@700&display=swap');
* { 
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.title h1 {
  color: white;
  background-color: #1D2A3A;
  font-size: 3rem;
  padding: 50px 0 0 0;
}

.title h3 {
  color: white;
  background-color: #1D2A3A;
  font-size: 1rem
}

.logo-wrapper {
  position: relative;
}

.App-logo {
    position: absolute;
    height: 50vmin;
    z-index: 1;
    animation: App-logo-spin infinite 20s linear;
}

.App-logo-2 {
  position: absolute;
  z-index: 2;
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Reverse-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.landing {
  background-color: rgb(29, 42, 58);
  min-height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.register {
  margin: 20px;
}

.solar-system {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 42, 58);
  min-height: 90vh;
}

.system {
  background-color: rgb(29, 42, 58);
  width: 80vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  position: absolute;
  animation: App-logo-spin infinite 50s linear;
}

.rocket-sun {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun {
  position: absolute;
  background-color: rgb(255, 196, 0);
  z-index: 19;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
}

.rocket-orbit {
  position: absolute;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  z-index: 2;
  animation: App-logo-spin infinite 30s linear
}

.pilgrim-rocket {
  height: 75px;
  width: 75px;
}

.planet:hover {
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1D2A3A;
  color: white;
}

.publicOption a {
  text-decoration: none;
  color: white;
  margin: 10px;

}

.navbar-text {
  display: flex;
  flex-direction: column;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  height: 8vh;
  width: auto;
}

.welcome {
  color: white;
  font-size: 1.2em;
}

.nav-menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.nav-menu li a:hover {
  border-bottom: .15em solid white;
}
.nav-menu li a {
  padding: 5px 14px;
  color: white;
}

input[type='checkbox'] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.btn {
  font-family: 'lora', serif;
  background: linear-gradient(to right, #a0b5eb, #c9f0e4);
  color: #4799e9 !important;
  font-weight: bold;
  width: 50%;
  padding: 1.8vh;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-align: center;
}

.col {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 2px 2px 4px 2px grey;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 90%;
}

.login-forms {
  padding: 5px;
  color:rgb(29, 42, 58);
  background: white;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 3px 3px 3px grey;
  display: block;
}

.registerBtn {
  font-family: 'lora', serif;
  background: linear-gradient(to right, #a0b5eb, #c9f0e4);
  color: #4799e9 !important;
  font-weight: bold;
  width: 50%;
  padding: 1.8vh;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
}



@media (max-width: 1000px) {
  .navbar {
    padding: 15px;
  }
  .nav-menu {
    display: none;
    position: absolute;
    background: linear-gradient(to bottom, rgb(29, 42, 58), rgba(255, 255, 255, 0.659));
    text-align: center;
    width: 200px;
  }
  .logo {
    font-size: 15px;
  }
  .nav-menu li + li {
    margin-top: 20px;
  }
  input[type='checkbox']:checked ~ .nav-menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

.communityImage {
  height: 250px;
  width: 250px;
  border-style: solid;
}